<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      > <!-- layout:fragment="content" 해당 html 전체를 content 영역 사용 -> 여기에 선언하면 html 선언x --> 
<meta charset="UTF-8">
<title>MAIN HTML</title>




<th:block layout:fragment="content">

	<a href="/crud/listPage">crud list 페이지</a> |
	<a href="/crud/insertPage">crud insert 페이지</a>

	<h1>layout:fragment="content" 입력주고 레이아웃 사용</h1>
	<button id="loadMembers">loadMembers</button>
    <ul id="memberList"></ul>
    <button id="reset">원복</button>
    <div id="response"></div>
    <ul id="memberList"></ul>
    
    	<script>
		// contentType : 요청시 서버로 전송하는 데이터 유형
		// dataType : 서버로부터 받는 데이터 유형 -> json 입력하면 알아서 json형태로 파싱 
		// type, method : POST,GET,PUT,DELETE
		$(document).ready(() => {
			$('#loadMembers').click(function() {
				$.ajax({
	                type: 'POST',
	                url: '/user/list',
	                contentType: 'application/json',
	                dataType : 'json',
	                success: function(response) {
	                	console.log("response:",response);
	                	console.log("response:",response.length);
	                	var htmlContent = '';
						for(var i=0; i<response.length; i++){
							console.log(response[i]);
							htmlContent += '<p>';
							htmlContent += response[i].id;
							htmlContent += response[i].name;
							htmlContent += response[i].phone;
							htmlContent += response[i].address;
							htmlContent += '</p>';
						}	                	
						$('#response').html(htmlContent);
	                },
	                error: function(error) {
	                    console.error('Error:', error);
	                }
				});
			});
            $('#reset').click(() => {
            	console.log("1111");
            	$("#response").empty();
            });
        });
    </script>
</th:block>

</html>