<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
      
  <div id="editor"></div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const content = "초기값 설정"; // 초기값 설정
      const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '500px',
        initialValue: content
      });
    });
  </script>
    
    
</html>